<h2>タイトル</h2>
  <p><%= @post.title %></p>
  
<h2>本文</h2>
  <p><%= @post.text %></p>
  
<h2>画像</h2>
  <% if @post.image.attached? %>
    <%= image_tag @post.image, size: "300x300" %>
  <% else %>
    <%= image_tag 'no_image', size: "300x300" %>
  <% end %>
  
  <%= link_to "編集", edit_post_path(@post.id) %>
  <%= link_to "削除", destroy_post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>