<!--投稿詳細画面-->

<div class="container my-3">
    <h2 class="text-center my-4">投稿詳細</h2>

    <div class="row">
        <div class="col-lg-9">
            <div class="mb-4">
                <h4>投稿者: <%= @post.user.name %></h4>
                <p>投稿日時: <%= @post.created_at.strftime('%Y/%m/%d') %></p>
                <h4>タイトル: <%= @post.title %></h4>
                <p>投稿内容: <%= @post.text %></p>
            </div>

            <% if @post.image.attached? %>
                <div class="text-center">
                    <%= image_tag @post.image, class: "img-fluid", style: "object-fit: cover;" %>
                </div>
            <% else %>
                <p class="text-center">画像はありません</p>
            <% end %>

            <!-- 削除ボタン -->
            <div class="text-right my-3">
                <% if current_user == @post.user %>
                    <%= link_to "削除する", post_path(@post.id), method: :delete, class: "btn btn-danger" %>
                <% end %>
            </div>

            <!-- コメントフォーム -->
            <div class="text-right my-3">
                <%= form_with model: [@post, @post_comment] do |f| %>
                    <div class="form-group">
                        <%= f.text_area :comment, rows: '5', class: "form-control", placeholder: "コメントをここに" %><br>
                    </div>
                    <%= f.submit "送信する", class: "btn btn-primary btn-lg" %>
                <% end %>
            </div>
        </div>

        <!-- コメントセクション -->
        <div class="col-lg-3">
            <div style="max-height: 500px; overflow-y: auto;">
                <p>コメント件数: <%= @post.post_comments.count %></p>
                <% @post.post_comments.reverse_each do |post_comment| %>
                    <div class="border p-3 mb-3">
                        <%= image_tag post_comment.user.get_profile_image(100,100), class: "image-circle" %>
                        <p><%= post_comment.user.name %></p>
                        <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
                        <p><%= post_comment.comment %></p>
                        <p class="sentiment-score">本文の感情分析スコア<%= post_comment.score %></p>

                        <!-- コメント削除ボタン -->
                        <% if current_user == post_comment.user %>
                            <%= link_to "削除する", post_post_comment_path(post_id: @post.id, id: post_comment.id), method: :delete, class: "btn btn-danger" %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>