<!--投稿詳細画面-->
<!DOCTYPE html>
<html>
<head>
    <title>投稿詳細画面</title>
</head>
<body>
    <h2 class="text-center my-4">投稿詳細</h2>
    <div class="container my-3">
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-9">
                <table class="table table-bordered table-responsive-lg">
                    <thead>
                        <tr class="text-center" style="background-color:#F5F5F5;">
                            <th>投稿者</th>
                            <th>投稿日時</th>
                            <th>タイトル</th>
                            <th>投稿内容</th>
                            <th>写真</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <td><%= @post.user.name %></td>
                            <td><%= @post.created_at.strftime('%Y/%m/%d') %></td>
                            <td><%= @post.title %></td>
                            <td><%= @post.text %></td>
                            <td>
                                <% if @post.image.attached? %>
                                    <%= image_tag @post.image, class: "img-fluid", style: "object-fit: cover;" %>
                                <% else %>
                                    画像はありません
                                <% end %>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-lg-12 text-right my-3">
                    <% if current_user == @post.user %>
                      <%= link_to "削除する", post_path(@post.id), method: :delete, class: "btn btn-danger" %>
                    <% end %>
                </div>

                <div class="col-lg-12 text-right my-3">
                    <%= form_with model: [@post, @post_comment] do |f| %>
                        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %><br>
                        <%= f.submit "送信する" %>
                    <% end %>
                </div>
            </div>
            <div class="col-lg-3 overflow-auto" style="width: 300px; max-height: 500px;">
                <p>コメント件数:<%= @post.post_comments.count %></p>
                <% @post.post_comments.reverse_each do |post_comment| %>
                    <p>
                        <%= image_tag post_comment.user.get_profile_image(100,100) %>
                        <%= post_comment.user.name %><br>
                        <%= post_comment.created_at.strftime('%Y/%m/%d') %><br>
                        <%= post_comment.comment %>
                        <% if current_user == post_comment.user %>
                          <%= link_to "削除する", post_post_comment_path(post_id: @post.id, id: post_comment.id), method: :delete, class: "btn btn-danger" %>
                        <% end %>
                    </p>
                <% end %>
            </div>
        </div>
    </div>
</body>
</html>
