<!--投稿一覧検索結果-->
  <!--検索対象モデルがPostの時 -->

<div class="container">
  <h2 class="text-center my-3">投稿の検索結果一覧</h2>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-6 mb-4">
        <div class="card">
          <% if post.image.attached? %>
            <%= image_tag post.image, class: "card-img-top", style: "max-height: 200px; object-fit: cover;" %>
          <% else %>
            <div class="card-img-top" style="background-color: #F5F5F5; height: 200px;"></div>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text">
              <strong>お名前:</strong> <%= post.user.name %><br>
              <strong>投稿日:</strong> <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %><br>
            </p>
            <% if user_signed_in? %>
              <%= render 'public/favorites/btn', post: post %>
            <% else %>
              <%= link_to post_favorites_path(post), method: :post, class: "btn btn-info btn-sm" do %>
                いいね <%= post.favorites.count %>
              <% end %>
            <% end %>
            <%= link_to "詳細を見る", post_path(post), class: "btn btn-primary btn-sm ml-2" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <%= paginate @posts %>
  </div>
</div>