<!-- いいね一覧画面 -->

<div class="container mt-4">
  <h2 class="text-center">お気に入り一覧</h2>
  <div class="row">
    <div class="table post_table table-inverse">
      <table>
        <thead class="table-info">
          <tr>
            <th class="col-xs-3 col-ms-3 col-md-2 col-lg-2">タイトル</th>
            <th class="col-xs-3 col-ms-3 col-md-2 col-lg-2">更新日時</th>
            <th class="col-xs-3 col-ms-3 col-md-2 col-lg-2">更新者</th>
            <th class="col-xs-3 col-ms-3 col-md-2 col-lg-2">写真</th>
            <th class="col-xs-3 col-ms-3 col-md-2 col-lg-2">「いいね！」の数</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= post.title %></td>
              <td>
                <%= link_to post_path(post) do %>
                  <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
                <% end %>
              </td>
              <td><%= post.user.name %></td>
              <td>
                <% if post.image.attached? %>
                    <%= image_tag post.image, size: "150x100",style: "object-fit: cover;" %>
                <% else %>
                    画像はありません
                <% end %>
              </td>
              <td>
                <% if post.favorited_by?(current_user) %>
                  <%= link_to post_favorite_path(post, post.favorites.find_by(user_id: current_user.id)), method: :delete do %>
                    <%= image_tag 'smile.png', :size => '70x70' %>
                    <%= post.favorites.count %> いいね
                  <% end %>
                <% else %>
                  <%= link_to post_favorites_path(post), method: :post do %>
                    <%= image_tag 'bookmark.png', :size => '70x70' %>
                    <%= post.favorites.count %> いいね
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center"><%= paginate(@posts) %></div>
    </div>
  </div>
</div>