<div class="container">
  <div class="row">
    <div class="col">
    <h4 class="my-5"><%= @users.name %>さんの会員詳細</h4>
    <div class="d-flex align-items-center">
      <table class="table table-borderless">
        <tr>
          <th>会員ID</th>
          <td><%= @users.id %></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= @users.name %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @users.phone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @users.email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <% if @users.withdrawal %>
          <th class="text-success font-weight-bold"><%= "退会" %></th>
          <% else %>
          <th class="text-muted font-weight-block"><%= "有効" %></th>
          <% end %>
        </tr>
        <tr class=>
          <td></td>
          <td class=><%= link_to "編集する", edit_admin_user_path, class:"btn btn-success mr-2" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>