<!--ログインしているユーザーのマイページ-->

<h1 class="text-center">自己紹介</h1>

<table class="table" style="background-color:#FCFCD4;">
  <thead class="justify-content-center">
    <tr>
      <th colspan="2" class="align-middle text-center">
        <div class="d-flex justify-content-center align-items-center" style="height: 150px;"> <!-- 高さの調整 -->
          <div class="mx-auto" >
            <% if user.profile_image.attached? %>
              <%= image_tag user.get_profile_image(150, 150), class: "image-circle" %>
            <% end %>
          </div>
        </dov>
      </th>
    </tr>
    <tr>
      <th>お名前</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>誕生日</th>
      <th><%= user.birthday %></th>
    </tr>
    <tr>
      <th>お気に入り</th>
      <th><%= link_to "見てみる", user_favorites_path(@user.id) %></th>
    </tr>
  </thead>
</table>

<div class="row justify-content-center my-2">
  <% if current_user != user %>
    <td><%= render "public/relationships/btn", user: user, options: { class: "" } %></td>
  <% else %>
    <%= link_to "編集する", edit_user_path(user), class: "btn btn-info btn-block" %>
  <% end %>
</div>

<div class="row justify-content-center my-3">
  <div class="col-md-6 text-center">
    <div class="font-weight-bold">
      フォロー数：<%= link_to follows_user_path(user), class: "text-info" do %>
        <%= user.following_users.count %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 text-center">
    <div class="font-weight-bold">
      フォロワー数：<%= link_to followers_user_path(user), class: "text-info" do %>
        <%= user.follower_users.count %>
      <% end %>
    </div>
  </div>
</div>
