<!--会員情報編集画面-->
<div class="container-fluid">
  <div class="row px-4">
    <div class="col-12 mb-5">
      <h2 class="text-center mt-5">会員情報編集</h2>
    </div>
    <div class="col-12">
      <%= form_with model: @user, url: user_session_path do |f| %>
      <%= render "public/shared/error_messages", resource: current_user %>

      <div class="field row mt-2 justify-content-center">
        <label class="col-3">名前</label>
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="field row mt-2 justify-content-center">
        <label class="col-3">メールアドレス</label>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field row mt-2 justify-content-center">
        <label class="col-3">電話番号（ハイフンなし）</label>
        <%= f.text_field :phone_number, autofocus: true %>
      </div>
    
 
      <div class="form-group col-7 mt-5 mx-auto d-flex justify-content-around">
        <%= f.submit "編集内容を保存", class:"btn btn-success ml-5" %>
        <%= link_to "退会する", users_check_path,class:"btn btn-danger"%>
      </div>
    <% end %>
    </div>
  </div>
</div>

