<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="text-center mt-5 md-5">会員一覧</h2>
      <div class="d-flex align-items-center">
        <table class="table text-center">
          <thead class="table-info">
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
              <th colspan="4"></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td>
                <%#= image_tag post_image.user.get_profile_image(100,100) %>
              </td>
              <td>
                <%= user.id %>
              </td>
              <td>
                <%= user.email %>
              </td>
              <td class= "<%= user.is_withdrawal ? 'text-gray' : 'text-green' %>"><%= user.is_withdrawal ? '退会済み' : '有効' %>
              </td>
               <td><%#= render "public/relationships/btn", user: user, options: { class: "follow-link" } %></td>
               <td><%= render partial: "public/relationships/btn", locals: { user: user } %></td>

                 <td>フォロー<%= user.followers.count %></td>
                 <td>フォロワー<%= user.followeds.count %></td>

            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>