<div class="collapse navbar-collapse flex-column" id="navbarNavDropdown">
  <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
      <li class="nav-item m-1">
        <%= link_to "マイページ", users_mypage_path, class: "btn btn-outline-secondary btn-sm nav-btn" %>
      </li>
      <li class="nav-item m-1">
        <%= link_to "投稿一覧", posts_path, class: "btn btn-outline-secondary btn-sm nav-btn" %>
      </li>
      <li class="nav-item m-1">
        <%= link_to "会員一覧", users_path, class: "btn btn-outline-secondary btn-sm nav-btn" %>
      </li>
      <li class="nav-item m-1">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary btn-sm nav-btn" %>
      </li>
    <% elsif admin_signed_in? %>
      <li class="nav-item m-1">
        <%= link_to "投稿一覧", posts_path, class: "btn btn-outline-secondary btn-sm nav-btn" %>
      </li>
      <li class="nav-item m-1">
        <%= link_to "会員一覧", admin_users_path, class: "btn btn-outline-secondary btn-sm nav-btn" %>
      </li>
      <li class="nav-item m-1">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary btn-sm nav-btn" %>
      </li>
    <% else %>
      <li class="nav-item m-1">
        <%= link_to "About", about_path, class: "btn btn-outline-secondary btn-sm nav-btn" %>
      </li>
      <li class="nav-item m-1">
        <%= link_to "投稿一覧", posts_path, class: "btn btn-outline-secondary btn-sm nav-btn" %>
      </li>
      <li class="nav-item m-1">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary btn-sm nav-btn" %>
      </li>
      <li class="nav-item m-1">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary btn-sm nav-btn" %>
      </li>
    <% end %>
  </ul>

  <div class="navbar-nav my-3 ml-auto">
    <% if admin_signed_in? %>
      <%= render 'admin/searches/search' %>
    <% else %>
      <%= render 'public/searches/search' %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <%= link_to notifications_path, class: "nav-link" do %>
      <%if current_user.notifications.where(checked: false).exists? %>
        <i class="fa-sharp fa-solid fa-bell fa-beat" style="background-color:#F9F871;">通知一覧</i>
      <% else %>
        <i class="fa-sharp fa-solid fa-bell">通知一覧</i>
      <%end %>
    <% end %>
  <% end %>
</div>