<!DOCTYPE html>
<html>
<head>
  <title>FamilyConnect</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <script src="https://kit.fontawesome.com/91172857dc.js" crossorigin="anonymous"></script>
  <!-- fontawesomeがkitcodeで導入 -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand p-1" href="/"><%= image_tag 'logo.png', :size => '250x125' %></a>

        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
          <li class="nav-item ml-auto">
            <h4 class="text-black mb-0">ようこそ、<%= current_user.name %>さん！</h4>
          </li>
          <% elsif admin_signed_in? %>
            管理者ログイン中
          <% else %>
          <% end %>
        </ul>
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= render 'layouts/header' %>
      </div>
    </nav>
  </header>

  <main>
    <div class="text-success flash-message-notice">
      <%= flash[:notice] %>
    </div>
    <div class="text-danger flash-message-alert">
      <%= flash[:alert] %>
    </div>
    <%= yield %>
  </main>
  <footer class="mx-0 bg-black bg-opacity-75 text-center text-dark">
    <%= render 'layouts/footer' %>
  </footer>
</body>
</html>